.call-container
{
	background:rgba(var(--text-color),0.8);
		backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
	  
}
.small-call-container
{
	width:80px;
	height:80px;
	transition: width 0.4s ease,  height 0.4s ease;
}
.small-outgoing-call-avatar 
{
	width:50px;
	height:50px;
}
@media (min-width: 200px) 
{
	.small-call-container
	{
		width:80px;
		height:80px;
	}
	.small-outgoing-call-avatar 
	{
		width:50px;
		height:50px;
	}
}
@media (min-width: 200px) and (max-width: 576px) {
  .small-call-container
	{
		width:120px;
		height:120px;
	}
	.small-outgoing-call-avatar 
	{
		width:70px;
		height:70px;
	}
}
@media (min-width: 576px) and (max-width: 992px){
  .small-call-container
	{
		width:150px;
		height:150px;
	} 
	.small-outgoing-call-avatar 
	{
		width:100px;
		height:100px;
	}
}
 
@media (min-width: 992px){
  .small-call-container
	{
		width:200px;
		height:200px;
	} 
	.small-outgoing-call-avatar 
	{
		width:100px;
		height:100px;
	}
}
 
 
.call-card
{
	 
	overflow:hidden;
	height:100%;
	width:100%;
	max-width:400px;background:rgba(var(--text-color),0.1);
}
 
 /*
.caller-card-overlay
{
	background:rgba(var(--text-color),0.15);
	backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
*/

/* Make avatar image responsive and consistent */
.outgoing-call-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .outgoing-call-avatar {
    width: 150px;
    height: 150px;
  }

}
@media (max-width: 200px) {
  .outgoing-call-avatar {
    width: 70%;
    height:auto;
  }

}



.dot-blink {
  animation: blink 1.4s infinite;
  /*font-weight: bold;
  font-size: 1.2rem;
  line-height: 0;*/
}

.dot-blink:nth-child(2) {
  animation-delay: 0.2s;
}
.dot-blink:nth-child(3) {
  animation-delay: 0.4s;
}
.dot-blink:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes blink {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.local-video-container
 {
	 width:100px;
	 height:150px;
 } 
 
 @media (max-width: 200px) {
  .local-video-container {
   display:none;
  }

} 
@media (min-width: 768px) {
  .local-video-container {
   width:150px;
	 height:200px;
  }

} 
@media (min-width: 1200px) {
  .local-video-container {
   width:200px;
	 height:250px;
  }

} 

@media (max-height: 500px) {
  .local-video-container {
   display:none;
  }

}

.device-list-card
{
	width:auto;
	min-width:350px;
}
@media (max-width: 400px)
{
  .device-list-card
	{
		width:100%;
		min-width:100%;
  }

}