.login-main-container
{
	width:100%;
	height:auto;  
	overflow:auto;
}
@media only screen and (max-width:768px)
{
	.login-main-container
	{
		max-height:auto; 
	}
}
@media only screen and (min-width:768px)
{
	.login-main-container
	{
		min-height:95vh; 
	}
}
.login_container
{
	width:100%;
	max-width:500px; 
	background:rgba(var(--bg2-color),1);
}


.formInput , .login_input
{
	border:2px solid rgba(var(--text-color),0.2);
	 background: transparent  !important;
	 transition: outline 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
	cursor:pointer;
}
 
.login_input:focus,.formInput:focus
{ 
	outline:none;
	border:2px solid rgba(var(--text-color),1);
	box-shadow:0px 0px 0px 4px rgba(var(--text-color),0.4);
}
.form-group:focus-within .form-label
{ 
	border-bottom:2px solid rgba(var(--text-color),1);
}
 .login_check
{
	border:2px solid rgba(var(--text-color),0.5);
	 transition: box-shadow 0.5s ease;
}
.login_check:checked
{
	background:rgba(var(--text-color),1);
	border:2px solid rgba(var(--text-color),1);
	box-shadow:none;
} 
.login_check:focus
{ 
	box-shadow:none;
} 
.submit_btn_disable
{
   cursor:not-allowed !important;
}


.custom-text-box
{
	border:2px solid rgba(var(--text-color),0.2);
	 background: transparent  !important; 
}

.custom-text-box .ql-editor {
  min-height: 150px;     
  max-height: 60vh;    
  overflow-y: auto;       
  font-size: 1.05rem;  
	border:none;
	transition: outline 0.5s ease, border 0.5s ease, box-shadow 0.5s ease;
	cursor:pointer;	
}
 
.custom-text-box .ql-container {
	border:none
}
.custom-text-box .ql-toolbar {
	border:none;
	border-bottom:2px solid rgba(var(--text-color),0.2);
	background: rgba(var(--text-color),0.1); 
}


.dark-custom-text-box 
{
	border:2px solid rgba(255,255,255,0.8);
	/*background: transparent  !important;*/
}
.dark-custom-text-box .ql-toolbar
{ 
	 background: rgba(255,255,255,1)  !important; 
}
.dark-custom-text-box .ql-editor::before
{ 
	 color: rgba(255,255,255,0.8)  !important; 
}