.sharePageHeader
{
	border-bottom:2px solid rgba(var(--text-color),0.3);
	padding-bottom:1px;
}

.sharePageHeaderBTN
{
	background:transparent;
	border:none;
	border-bottom:0.2rem solid rgba(var(--text-color),0.0); 
	border-radius:0.2rem;
	color:rgba(var(--text-color),1);  
	transition:  border 0.5s ease;
}
.sharePageHeaderBTN:hover
{
	background:transparent; 
	border-bottom:0.2rem solid rgba(var(--text-color),1); 
 
}
.active_sharePageHeaderBTN
{
	background:transparent; 
	border-bottom:0.2rem solid rgba(var(--text-color),1); 
 
	font-weight:bold;
}